<div class="container-fluid">

    <div #fireworksContainer class="container2">
        <div class="fan-container">
            <img src="/2.png" class="fan">
        </div>

        <div class="fan-container2">
            <img src="/2.png" class="fan2">
        </div>
        <div class="lantern">
            <img src="/1.png">
        </div>
        <div class="lantern2">
            <img src="/1.png">
        </div>
        <div class="fan3">
            <img src="/2.png">
        </div>
        <!-- <div class="day2">
            <img src="/2.png">
        </div> -->

        <div class="fan-container">
            <img src="/2.png" class="fan">
        </div>

        <div class="fan-container2">
            <img src="/2.png" class="fan2">
        </div>

        <div class="snake">
            <img src="/snake.png">
        </div>
        <div class="snake2">
            <img src="/dauran.png">
        </div>
        <div class="lantern">
            <img src="/1.png">
        </div>
        <div class="lantern2">
            <img src="/1.png">
        </div>

    </div>
    <div #container2 class="container2"></div>
</div>