.raffle-box {
  height: 50px; /* Hiển thị 1 dòng */
  overflow: hidden;
  position: relative;
  border: none;
}

.names {
  display: flex;
  flex-direction: column;
  transition: transform 0.1s linear; /* Đảm bảo mượt */
}

.name-item {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #333;
}
