<div class="container-fluid" #fireworksContainer>

  <!-- <div class="container2"> -->
  <div #container2 class="container2"></div>
  <div class="raffle-box">
    <div class="names" [style.transform]="transformStyle">
      <div *ngFor="let participant of participants" class="name-item">
        {{participant.code +' - '+ participant.name }}
      </div>
    </div>
  </div>
  <div class="card-content">
    <button class="btn" (click)="startRaffle()" [disabled]="isRaffleRunning">開始</button>
  </div>


  <div>
    <div class="fan-container3">
      <img src="/2.png" alt="Fan" class="fan3">
    </div>

    <div class="fan-container">
      <img src="/2.png" alt="Fan" class="fan">
    </div>
    <div class="fan-container2">
      <img src="/2.png" alt="Fan" class="fan2">
    </div>

    <div class="lantern">
      <img src="/1.png" class="lantern-img" />
    </div>
    <div class="lantern2">
      <img src="/1.png" class="lantern-img" />
    </div>

  </div>
  <!-- <div class="images" >
    <img class="imgs"   src="/2.gif" alt="">
  </div>
  <div class="images" >
    <img class="imgs2"   src="/33.gif" alt="">
  </div> -->

  <!-- </div> -->

</div>