<div class="container-fluid" #fireworksContainer>

    <div>
        <div class="fan-container3">
            <img src="/2.png" alt="Fan" class="fan3">
        </div>

        <div class="fan-container">
            <img src="/2.png" alt="Fan" class="fan">
        </div>
        <div class="fan-container2">
            <img src="/2.png" alt="Fan" class="fan2">
        </div>

        <div class="lantern">
            <img src="/1.png" class="lantern-img" />
        </div>
        <div class="lantern2">
            <img src="/1.png" class="lantern-img" />
        </div>

        <div class="images">
            <img class="imgs" src="/2.gif" alt="">
        </div>
        <div class="images">
            <img class="imgs2" src="/33.gif" alt="">
        </div>
        <!-- <div class="gold1">
            <img src="/gold.png">
        </div>
        <div class="gold2">
            <img src="/gold.png">
        </div> -->

        <!-- <div class="gold3">
            <img src="/3.gif">
        </div>
        <div class="gold4">
            <img src="/4.gif">
        </div>
        <div class="gold5">
            <img src="/2.gif">
        </div> -->


        <!-- <div class="dragon-container">
            <img src="dragon.gif" alt="Flying Dragon" class="dragon">
        </div> -->


    </div>
</div>

<div>
    <div class="content1">
        <h1 id="random-display" class="text">{{ currentNumber }}</h1>
    </div>
    <div class="content2">
        <div class="button-border">
            <div class="button-base">
                <button class="button" (click)="pickNumbers()">Spin</button>
            </div>
        </div>
    </div>
</div>