<div class="container-fluid" #fireworksContainer>

</div>
<div class="number-container">
    <div class="column1">
        <ng-container *ngFor="let item of generatedNumbers; let i = index">
            <div *ngIf="i % 2 === 0" class="number-box">
                {{ formatNumber(item.number) }}
            </div>
        </ng-container>
    </div>
    <div class="column2">
        <ng-container *ngFor="let item of generatedNumbers; let i = index">
            <div *ngIf="i % 2 !== 0" class="number-box">
                {{ formatNumber(item.number) }}
            </div>
        </ng-container>

    </div>
</div>

<div>
    <div class="content1">
        <h1 id="random-display" class="text">{{ currentNumber }}</h1>
    </div>
    <div class="content2">
        <div class="button-border">
            <div class="button-base">
                <button class="button" (click)="checkCount()">新起点
                </button>
            </div>
        </div>
    </div>
</div>