body {
    margin: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden; /* Ngăn cuộn ngang */
}

td {
    padding-right: 8px;
}


:root {
    --mat-paginator-container-text-color: rgba(0, 0, 0, 0); /* Đặt màu văn bản */
  }